
@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
	background: #32323c;
}

/** Layout **/

#container {
	width: 900px;
	margin: 0 auto;
	text-align: center; 
}

#game {
	float: left;
/*	border-right: thin solid #ff0000;
*/	width: 50%;
/*	padding: 30px;
*/
}

#stats {
	float: left;
	width: 50%;
}

/* Fonts / Headings */

h1 {
	font-size: 52px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 500;
	letter-spacing: 1.2px;
}

h3 {
	color: white;
	font-size: 24px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 500;
	letter-spacing: 1.2px;
}

.title {
	color: white;
}

#enter {
	float:left;
	padding-left: 30px;
}
#input {
	margin-top: 14px;
	width: 150px;
	height: 30px;
	border: solid 5px #c9c9c9;
	box-shadow: inset 0 0 0 1px #707070;
	padding: 5px 10px 5px 10px;
	outline: none;
	font-size: 15px;
	margin-bottom: 14px;
}

/** win / lose */

#win{
	display: none;
	font-family: "Montserrat", sans-serif;
	color: #66FF99;
}

#playAgainPrompt, #correctAnswer {
	color: white;
	font-size: 12px;
}

#lose {
	display: none;
	font-family: "Montserrat", sans-serif;
	color: red;
}

/** Buttons **/

.buttons {
	margin-top: 20px;
	float:left;
}

button {
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	border: 2px solid #1b1b20;
	border-radius: 2px;
	outline: none;
	opacity: 1;
	background: #32323c;
	transition: all 0.5s ease 0s;
	position: relative;
}

button:not(.buttonDisabled):hover {
	border: 1px solid white;
	  box-shadow: inset 0 0 0 2px white;
}

button:active{
	box-shadow: inset 0 0 0 4px; white;
    position:relative;
    top:3px;
}

.buttonDisabled {
	opacity: 0.5;
}

.largebutton {
	padding: 20px;
	font-size: 15px;
	background: transparent;
	width: 43%;
	font-size: 20px;
	color: white;

/*	border:none;
*//*	outline: none;
*/}

.smallbutton {
	width: 43%;
	background: transparent;
	font-size: 15px;
	padding: 5px 20px 5px 20px;
	font-size: 15px;
	color: white;
}

#smallbuttoncontainer {
	width: 43%;
	float:left;
	padding-left: 29px;
}

#guess {
	margin-bottom: 10px;
}

#hint {
	margin-bottom: 10px;
}

#hintShown {
	font-weight: 200;
}

#easy {
	width:100%;
	margin-bottom: 2px;
}

#hard {
	width: 100%;
}

#reset {
	margin-left: 5px;
	float:left;
}

h4 {
	color: white;
	font-size: 12px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* Stats */

#statsBox {
	color: white;
	font-size: 12px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: left;
	padding-left: 40px;
	font-weight: 500;
	letter-spacing: 1.2px;
}

#resultChange, #feedbackChange, #numGuessChange, #prevGuessChange, #remainingGuessChange {
	font-weight: 100;
}

#prevGuessChange {
	word-wrap: break-word;
}